---
---
// start content
$custom-primary: #21548f;
$custom-secondary: #ff9191;
$custom-light: #555555;
$custom-dark: #1f1f1f;
$custom-info: #31537a;
$custom-link: #4895ec;

body {
    background: $custom-dark;
    color: var(--bs-light);
}

a {
    color: $custom-link;
}

.custom-bottom-border {
    border-bottom: 1px solid $custom-light;
}

.custom-bg-dark{
    background-color: $custom-dark;
}

@import "monokai.css";